{% extends "mid_navbar.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
People Estimated
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='signin.css')}}">
{% endblock %}

{% block content %}
    {{super()}}

    <div class="container flex-md-wrap" style="wrap-option: content">
    <div class="row">
        <form class="form-control-range" method="POST" action="/close_days_form">
            <h3 class="label">Add Closing Days</h3>
            {{ form.hidden_tag() }}
{#            {{ wtf.form_field(form.full) }}#}
{#            {{ wtf.form_field(form.time) }}#}
{#            {{ form.time  (class="DateTimeField") }}#}
            <table  class="table table-dark table-borderless table-sm">
                <tr>
                    <th scope="col">{{ wtf.form_field(form.date1, type="date") }}</th>
                    <th scope="col">{{ wtf.form_field(form.date2, type="date") }}</th>
                </tr>
                <tr>
                    <th scope="col">{{ wtf.form_field(form.cleanup_range, type="checkbox") }}</th>
{#                    <th class="align-items-center" scope="col">{{ wtf.form_field(form.full) }}</th>#}
                </tr>
            </table>
{#            {{ wtf.form_field(form.entered) }} {{ wtf.form_field(form.exited) }}#}
            <button class="btn btn-lg btn-primary btn-block" type="submit">Add/Remove Day(s)</button>
        </form>
    </div>
    <div class="row">
        {% if msg != '' %}
            <div><h3 class="text-capitalize">{{ msg }}</h3></div>
        {% endif %}
    </div>
    <div class="row m-1 border">
        {% for day in closedays %}
            <div class="m-1 border"><h6 class="text-capitalize m-1">{{ day }}</h6></div>
        {% endfor %}
    </div>
    </div>

{% endblock %}
